{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block page_title %}{% trans "Blog" %} // {% trans "kogakure.de &ndash; Ninja, Ninjutsu and Martial Arts" %}{% endblock %}

{% block meta_description %}{% trans "Blog from Ninjutsu and this website" %}{% endblock %}

{% block content %}

    {% cache 3600 blog_entry_list %}

        <h1>{% trans "Blog" %}</h1>

        {% if entry_list %}
            {% for entry in entry_list %}
                <div class="block">
                    <h2 class="titel"><a href="{{ entry.get_absolute_url }}" title="{% blocktrans with entry.title as entry.title %}Link to '{{ entry.title }}'{% endblocktrans %}">{{ entry.title }}</a></h2>
                    {{ entry.summary|smarttext }}
                </div>
            {% endfor %}
        {% endif %}

        {% include "includes/paginator.html" %}

    {% endcache %}
    
{% endblock %}