{% extends "base.html" %}

{% block page_title %}Lexikon // kogakure.de – Ninja, Ninjutsu und Kampfkunst{% endblock %}

{% block content %}

    <h1>Lexikon</h1>

    <dl>
        <dt class="deutsch">{{ entry.title }}</dt><dd class="japanisch">{{ entry.japanese }}</dd>
        <dd class="beschreibung">
            {{ entry.explanation|smarttext }}
        </dd>
    </dl>

    {% get_stat encyclopedia.Entry as encyclopedia_num %}
    <p><a href="{% url lexikon_liste %}">Alle <em>{{ encyclopedia_num }}</em> Eintr{{ encyclopedia_num|pluralize:"ag,äge" }} des Lexikons lesen.</a></p>
    
{% endblock %}