{% load cache %}
{% load i18n %}

{% cache 3600 navigation %}
<h2>{% trans "Navigation" %}</h2>
<ul class="nav">
    <li><a title="{% trans "Overview on all Articles" %}" href="{% url inhaltsverzeichnis %}">{% trans "Contents" %}</a></li>
    <li><a title="{% trans "Recommendations on books and movies" %}" href="{% url kaufempfehlungen_liste %}">{% trans "Recommendations" %}</a></li>
    <li><a title="{% trans "Encyclopedia with martial art terms" %}" href="{% url lexikon_liste %}">{% trans "Encyclopedia" %}</a></li>
    <li><a title="{% trans "Wise aphorisms and statements" %}" href="{% url sprueche_liste %}">{% trans "Proverbs" %}</a></li>
    <li><a title="{% trans "Information about this site" %}" href="/info/">{% trans "Information" %}</a></li>
    <li><a title="{% trans "Get in contact" %}" href="{% url kontakt %}">{% trans "Contact" %}</a></li>
</ul>
{% endcache %}