{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Proverbs" %} // {% trans "kogakure.de &ndash; Ninja, Ninjutsu and Martial Arts" %}{% endblock %}

{% block meta_description %}{% trans "A collection of proverbs, quotes and statements" %}{% endblock %}

{% block content %}

    <h1>{% trans "Proverbs" %}</h1>
    {% get_stat proverbs.Entry as proverbs_num %}
    <p>{% blocktrans count proverbs_num as counter %}This collection of proverbs has one proverb, quote or statement{% plural %}This collection of proverbs has <em>{{ counter }}</em> proverbs, quotes and statements{% endblocktrans %}.</p>

    {% if entry_list %}
        {% for entry in entry_list %}
            <div class="block">
                <blockquote>
                    {{ entry.body|smarttext }}
                </blockquote>
                <cite class="sprueche">&ndash; {{ entry.author }}</cite>
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}