{% extends "base.html" %}

{% block page_title %}Kontakt // kogakure.de – Ninja, Ninjutsu und Kampfkunst{% endblock %}

{% block content %}

<h1>Kontakt</h1>

{% if not form.errors %}
    <p>Hier kannst Du Kontakt mit <a href="{{ WEB_URL }}info/">Stefan Imhoff</a>, dem Betreiber der Seiten, aufnehmen. Ich versuche auf jede E-Mail zu antworten, kann dies aber nicht garantieren. Vorher noch ein paar Richtlinien:</p>
    <div class="note">
    <ul>
        <li>Halte die E-Mail bitte <em>kurz</em>! (Keine komplette Lebensgeschichte beim Erstkontakt).</li>
        <li>Schreib so, dass das Lesen <em>nicht anstrengt</em> (Absätze machen, Rechtschreibung beachten, Zeichensetzung, Kleinschreibung/Großschreibung …).</li>
        <li>Einige Fragen werden wieder und wieder gestellt. Lies bitte vorher die <a href="{{ WEB_URL }}faq/">Fragen&nbsp;&amp;&nbsp;Antworten</a> durch, um solche zu vermeiden.</li>
    </ul>
    </div>
    <p>Das befolgen dieser simplen Richtlinien und ein freundlicher Ton können möglicherweise dabei helfen, eine Antwort zu beschleunigen.</p>
{% else %}
    <h2>Es sind Fehler aufgetreten!</h2>
    <p>Die Formularinhalte konnten nicht übermittelt werden, bitte überprüfe folgende Fehler:</p>
    <div class="warning">
        <ul>
        {% for error in form.name.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        {% for error in form.email.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        {% for error in form.message.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="." method="post" id="formular">
    <fieldset>
    <legend>Kontaktdaten:</legend>
        {% for field in form %}
            <p{% if field.errors %} class="eingabefehler"{% endif %}>{{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}</p>
        {% endfor %}
        <p><small>* Plichtfelder</small></p>
        <p><input class="button" tabindex="4" type="submit" value="Senden" name="formmail" /></p>

    </fieldset>
</form>

{% endblock %}