{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Contact" %} // {% trans "kogakure.de &ndash; Ninja, Ninjutsu and Martial Arts" %}{% endblock %}

{% block meta_description %}{% trans "Contact form" %}{% endblock %}

{% block content %}

<h1>{% trans "Contact" %}</h1>

{% if not form.errors %}
    <p>{% blocktrans %}Here you can contact <a href="{{ WEB_URL }}info/">Stefan Imhoff</a>, the maintainer of this pages. I try to answer every email but can&rsquo;t give you guarantee. But first some guidelines:{% endblocktrans %}</p>
    <div class="note">
    <ul>
        <li>{% trans "Keep your email <em>short</em>! (Please no complete life story on first contact)." %}</li>
        <li>{% trans "Write that way reading can be done <em>without effort</em> (Write paragraphs, pay attention to orthography, punctuation, upper and lower case &hellip;)." %}</li>
        <li>{% blocktrans %}Some questions are asked again and again. Please read the <a href="{{ WEB_URL }}faq/">Frequently Asked Questions</a> to avoid those.{% endblocktrans %}</li>
    </ul>
    </div>
    <p>{% trans "To follow those simple guidelines and a kind und ein freundlicher speech may help to speed up an answer." %}</p>
{% else %}
    <h2>{% trans "There were errors!" %}</h2>
    <p>{% trans "The form coudn&rsquo;t be submitted, please check the following errors:" %}</p>
    <div class="warning">
        <ul>
        {% for error in form.name.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        {% for error in form.email.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        {% for error in form.message.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="." method="post" id="formular">
    <fieldset>
    <legend>{% trans "Contact data" %}:</legend>
        {% for field in form %}
            <p{% if field.errors %} class="eingabefehler"{% endif %}>{{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}</p>
        {% endfor %}
        <p><small>{% trans "* required" %}</small></p>
        <p><input class="button" tabindex="4" type="submit" value="Senden" name="formmail" /></p>

    </fieldset>
</form>

{% endblock %}