{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block page_title %}{% trans "Contents" %} // {% trans "kogakure.de &ndash; Ninja, Ninjutsu and Martial Arts" %}{% endblock %}

{% block meta_description %}{% trans "Contents of kogakure.de" %}{% endblock %}

{% block content %}

    {% cache 3600 inhalt %}
    
        <h1>{% trans "Contents" %}</h1>
    
        <div class="half_col">

            <h2>{% trans "Articles" %}</h2>
        
            {% if entry_list %}
                <ul>
                {% for entry in entry_list|dictsort:"title" %}
                    <li><a href="{{ entry.get_absolute_url }}" title="Link zu '{{ entry.title }}'">{{ entry.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        
        </div>

        <div class="half_col">

            <h2>{% blocktrans count category_list|length as counter %}The Topic{% plural %}The Topics{% endblocktrans %}</h2>

            {% if category_list %}
                <ul id="nav_categories" class="nav_categories">
                {% for category in category_list|dictsort:"name" %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}

            <h2>{% trans "Statistics" %}</h2>
    
    {% endcache %}

    {% cache 3600 inhalt_stats %}

        <ul>
            {% get_stat articles.Entry as articles_num %}
            <li>{% blocktrans count articles_num as counter %}Article: {{ counter }}{% plural %}Articles: {{ counter }}{% endblocktrans %}</li>
            {% get_stat blog.Entry as blog_num %}
            <li>{% blocktrans count blog_num as counter %}Blog entry: {{ counter }}{% plural %}Blog entries: {{ counter }}{% endblocktrans %}</li>
            {% get_stat proverbs.Entry as proverbs_num %}
            <li>{% blocktrans count proverbs_num as counter %}Proverb: {{ counter }}{% plural %}Proverbs: {{ counter }}{% endblocktrans %}</li>
            {% get_stat encyclopedia.Entry as encyclopedia_num %}
            <li>{% blocktrans count encyclopedia_num as counter %}Encyclopedia entry: {{ counter }}{% plural %}Encyclopedia entries: {{ counter }}{% endblocktrans %}</li>
            {% get_stat products.Entry as products_num %}
            <li>{% blocktrans count products_num as counter %}Recommendation: {{ counter }}{% plural %}Recommendations: {{ counter }}{% endblocktrans %}</li>
            
        </ul>
    
    {% endcache %}
    
    </div>

{% endblock %}