{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Search results" %} // {% trans "kogakure.de &ndash; Ninja, Ninjutsu and Martial Arts" %}{% endblock %}

{% block meta_description %}{% trans "Search results" %}{% endblock %}

{% block content %}
    <h1>{% trans "Search results" %}</h1>
    
    {% if article_list or blog_list or encyclopedia_list or proverbs_list %}
    
        {% if q %}
            <p>{% blocktrans %}Your search of "<em>{{ q }}</em>" delivered following results{% endblocktrans %}:</p>
        {% endif %}
        
        {% if article_list %}
            <h2 class="section">{% trans "Articles" %}</h2>
            {% for article in article_list %}
                <div class="block">
                    <h3 class="title"><a href="{{ article.get_absolute_url }}" title="Link zu '{{ article.title }}'">{{ article.title }}</a></h3>
                    <p>{{ article.summary|smarttext|striptags|truncatewords:"25" }}</p>
                </div>
                <hr />
            {% endfor %}
        {% endif %}
        
        {% if blog_list %}
            <h2 class="section">{% trans "Blog" %}</h2>
            {% for entry in blog_list %}
                <div class="block">
                    <h3><a href="{{ entry.get_absolute_url }}" title="Link zu '{{ entry.title }}'">{{ entry.title }}</a></h3>
                    <p>{{ entry.summary|smarttext|striptags|truncatewords:"25" }}</p>
                </div>
                <hr />
            {% endfor %}
        {% endif %}
        
        {% if encyclopedia_list %}
            <h2 class="section">{% trans "Encyclopedia" %}</h2>
            {% for entry in encyclopedia_list %}
                <div class="block">
                    <h3><a href="{{ entry.get_absolute_url }}" title="Link zu '{{ entry.title }}'">{{ entry.title }} {% if entry.japanese %}({{ entry.japanese }}){% endif %}</a></h3>
                    <p>{{ entry.explanation|smarttext|striptags|truncatewords:"25" }}</p>
                </div>
                <hr />
            {% endfor %}
        {% endif %}
        
        {% if proverbs_list %}
            <h2 class="section">{% trans "Proverbs" %}</h2>
            {% for proverb in proverbs_list %}
                <div class="block">
                    <blockquote>
                        {{ proverb.body|smarttext }}
                    </blockquote>
                    <cite class="sprueche">&ndash; {{ proverb.author }}</cite>
                </div>
                <hr />
            {% endfor %}
        {% endif %}
        
    {% else %}
        <p>
            {% if q %}
                {% blocktrans %}No search results on "<em>{{ q }}</em>" found.{% endblocktrans %}
            {% else %}
                {% blocktrans %}No search results found.{% endblocktrans %}
            {% endif %}
        </p>
    {% endif %}
    
{% endblock %}