{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block page_title %}{{ entry.title}} // {% trans "kogakure.de &ndash; Ninja, Ninjutsu and Martial Arts" %}{% endblock %}

{% block meta_description %}{{ entry.summary }}{% endblock %}

{% block content %}

    {% cache 3600 article_entry entry.pk %}

        <div class="block">
            <h1>{{ entry.title }}</h1>
            <div id="excerpt">
                {{ entry.summary|smarttext }}
            </div>
            <hr />
            {{ entry.body|smarttext }}
        </div>
    
        <div id="meta">
            <h2>{% trans "Read more &hellip;" %}</h2>
            <p>{% blocktrans count entry.categories.all|length as counter %}Similar Topic{% plural %}Similar Topics{% endblocktrans %}:
                {% comment %} Categories of the articles {% endcomment %}
                {% for category in entry.categories.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>
                {% comment %} Next and previous article for admins {% endcomment %}
                {% if user.is_authenticated %}
                    {% if entry.get_previous_by_pub_date %}
                        &lt; <a href="{{ entry.get_previous_by_pub_date.get_absolute_url }}">{{ entry.get_previous_by_pub_date.title }}</a>
                    {% endif %}
                    {% if entry.get_previous_by_pub_date and entry.get_next_by_pub_date %}·{% endif %}
                    {% if entry.get_next_by_pub_date %}
                        <a href="{{ entry.get_next_by_pub_date.get_absolute_url }}">{{ entry.get_next_by_pub_date.title }}</a> &gt;
                    {% endif %}
                {% comment %} Next and previous article for the others {% endcomment %}
                {% else %}
                    {% if entry.get_previous_article %}
                        &lt; <a href="{{ entry.get_previous_article.get_absolute_url }}">{{ entry.get_previous_article.title }}</a>
                    {% endif %}
                    {% if entry.get_next_article and entry.get_previous_article %}·{% endif %}
                    {% if entry.get_next_article %}
                        <a href="{{ entry.get_next_article.get_absolute_url }}">{{ entry.get_next_article.title }}</a> &gt;
                    {% endif %}
                {% endif %}
            </p>
        </div>
        
        <div id="autorbio">
            <h2>{% trans "About the author" %}</h2>
            <img title="{{ entry.author }}" src="{{ MEDIA_URL }}{{ entry.author.photo }}" alt="{% trans "Photo of" %} {{ entry.author }}" height="50" width="50" />
            {{ entry.author.bio|smarttext }}
        </div>

    {% endcache %}

{% endblock %}