{% extends "base.html" %}

{% block page_title %}Artikel // kogakure.de – Ninja, Ninjutsu und Kampfkunst{% endblock %}

{% block meta_description %}Eine Übersicht über alle auf kogakure.de verfügbaren Artikel{% endblock %}

{% block content %}

    <h1>Artikel</h1>

    {% if entry_list %}
        {% for entry in entry_list|dictsort:"pub_date" %}
            <div class="block">
                <h2 class="titel"><a href="{{ entry.get_absolute_url }}" title="Link zu '{{ entry.title }}'">{{ entry.title }}</a></h2>
                {{ entry.summary|smarttext }}
            </div>
            <hr />
        {% endfor %}
    {% endif %}

    {% include "includes/paginator.html" %}
    
{% endblock %}